@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1216px;
  --breakpoint-2xl: 1216px;

  --color-job-header: #000071;
  --color-job-primary: #000065;
  --color-job-secondary: #121212;
  --color-job-blue: #0088ff;
  --color-job-gray: #dedede;
  --color-job-gray-2: #a6a6a6;
  --color-job-gray-3: #414042;
  --color-job-green: #47be02;
  --color-job-red: #ff0000;
  --color-job-hover: #000096;
}

* {
  font-family: "Lexend", sans-serif;
}

select,
input,
button,
textarea {
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* TinyMCE */
.tox-statusbar__branding {
  display: none;
}

/* Filepond */
.filepond--credits {
  display: none;
}

.filepond--root .filepond--drop-label label {
  font-size: 30px;
  cursor: pointer;
}

.filepond--root .filepond--action-remove-item {
  background-color: #ff0000;
  cursor: pointer;
}

.filepond--root .filepond--file-info {
  display: none;
}

/* File Uploader */
.file-uploader .filepond--root {
  margin-bottom: 0 !important;
  width: 150px;
  height: 150px !important;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  background-color: #f5f6fa;
}

.file-uploader .filepond--root .filepond--drop-label {
  height: 100%;
}

.file-uploader .filepond--image-preview-wrapper {
  width: 150px !important;
  height: 150px !important;
  top: -17px !important;
  left: -17px !important;
}

.file-uploader .filepond--action-remove-item {
  position: absolute;
  left: 102% !important;
  top: -30px;
}

.file-uploader .filepond--item-panel {
  display: none;
}

.file-uploader .filepond--image-preview-overlay-idle {
  color: transparent;
}

/* File Multi Uploader */
.file-multi-uploader .filepond--root {
  width: 300px;
  max-height: 600px;
}

.file-multi-uploader .filepond--action-remove-item {
  top: 5px !important;
  left: 88% !important;
}

/* Tag Input */
.tagify {
  align-items: center !important;
}

.tagify__input {
  margin: 0 !important;
  height: 100% !important;
  padding: 13px 20px 10px !important;
}
