@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1216px;
  --breakpoint-2xl: 1216px;

  /* --color-job-header: #000071; */
  /* --color-job-primary: #000065; */
  --color-job-secondary: #121212;
  --color-job-blue-500: #0088ff;
  --color-job-gray-100: #dedede;
  --color-job-gray-500: #a6a6a6;
  --color-job-gray-900: #414042;
  --color-job-green-100: #9fdb7c;
  --color-job-green-500: #47be02;
  --color-job-red-500: #ed1b2f;
  --color-job-yellow-500: #ffb200;
  --color-job-orange-500: #ff5100;
  --color-job-brown: #5d4037;

  /* --color-job-hover: #000096; */

  --shadow-md: 0px 6px 32px rgba(0, 0, 0, 0.08);

  --font-lexend: "Lexend", sans-serif;
}

@layer utilities {
  .bg-job-primary {
    @apply bg-gradient-to-r from-[#090203] via-[#090203] to-[#620404];
  }
}

* {
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #f7f7f7;
}

select,
input,
button,
textarea {
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* TinyMCE */
.tox-statusbar__branding {
  display: none;
}

/* Filepond */
.filepond--credits {
  display: none;
}

.filepond--root .filepond--drop-label label {
  font-size: 30px;
  cursor: pointer;
}

.filepond--root .filepond--action-remove-item {
  background-color: #ff0000;
  cursor: pointer;
}

.filepond--root .filepond--file-info {
  display: none;
}

/* File Uploader */
.file-uploader .filepond--root {
  margin-bottom: 0 !important;
  width: 150px;
  height: 150px !important;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  background-color: #f5f6fa;
}

.file-uploader .filepond--root .filepond--drop-label {
  height: 100%;
}

.file-uploader .filepond--image-preview-wrapper {
  width: 150px !important;
  height: 150px !important;
  top: -17px !important;
  left: -17px !important;
}

.file-uploader .filepond--action-remove-item {
  position: absolute;
  left: 102% !important;
  top: -30px;
}

.file-uploader .filepond--item-panel {
  display: none;
}

.file-uploader .filepond--image-preview-overlay-idle {
  color: transparent;
}

/* File Multi Uploader */
.file-multi-uploader .filepond--root {
  width: 300px;
  max-height: 600px;
}

.file-multi-uploader .filepond--action-remove-item {
  top: 5px !important;
  left: 88% !important;
}

/* Tag Input */
.tagify {
  align-items: center !important;
}

.tagify__input {
  margin: 0 !important;
  height: 100% !important;
  padding: 10px 20px !important;
}

/* Tinymce Content */
.tinymce-content {
  text-align: justify;
}

.tinymce-content h2 {
  font-weight: 700;
  font-size: 22px;
}

.tinymce-content hr {
  border: 1px dashed rgba(128, 128, 128, 0.247);
  margin-top: 16px;
  margin-bottom: 16px;
}

.tinymce-content ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

.tinymce-content ul li::marker {
  color: red;
}

.tinymce-content ul > li > ul {
  list-style: circle;
}
